version: 2.1

executors:
  node16:
    docker:
      - image: cimg/node:16.20
  node18:
    docker:
      - image: cimg/node:18.19

jobs:
  test_node_lts:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Download cc-test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run: yarn
      - run:
          name: cc-before
          command: |
            ./cc-test-reporter before-build
      - run: yarn test.prod
      - run:
          name: cc-after
          command: |
            ./cc-test-reporter after-build --coverage-input-type lcov --exit-code $?

  test_build_on_repository:
    parameters:
      repository:
        type: string
      node-version:
        type: executor
    executor: << parameters.node-version >>
    steps:
      - checkout
      - run: yarn
      - run: yarn build
      - run: ./test/test-build-on-repository.sh << parameters.repository >>

  release:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - run: yarn
      - run: yarn build
      - run: yarn release

workflows:
  version: 2
  test_and_release:
    jobs:
      - test_build_on_repository:
          matrix:
            parameters:
              node-version:
                - node18
              repository:
                - json
                # - markdown // private
                # - markdown-viewer // private
                - json-schema-tree
      - test_build_on_repository:
          matrix:
            parameters:
              node-version:
                - node16
              repository:
                - elements
                - json-schema-viewer
      - test_node_lts
      - release:
          filters:
            branches:
              only: master
          requires:
            - test_node_lts
